body {
  margin: 0;
}

.container {
  padding-top: 80px;
}

/* HEADER */
.header {
  width: 100%;
  position: fixed; /* fixa no topo */
  top: 0;
  left: 0;

  background: linear-gradient(to right, #1e63b5, #0a2c7d);
  color: white;
  padding: 15px 20px;
  z-index: 1000;
  text-align: right;
}
.header h2 {
  font-family: 'Revalia', sans-serif;
  font-size: 40px;
  letter-spacing: 2px;
}


.header-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
}

.logout {
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
    font-size: 40px;

}
.logout:hover {
  opacity: 0.7;
}

/* BOAS VINDAS */
.welcome {
  display: flex;
  flex-direction: column; /* 🔥 empilha vertical */
  align-items: flex-start;
  margin: 30px 0;
  position: 0px;
  margin-left: 0;
  padding-left: 0;
}


/* Caixa azul */
.welcome-box {

  margin-left: 0;
  width: 474px;
  height: 154px;
  background: linear-gradient(141.24deg, #0095FF 0.62%, #001867 98.26%);
  border-radius: 0px 180px 180px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

/* Texto */
.welcome-box h1 {
  color: white;
  font-size: 48px;
  margin: 0;
  font-family: 'Righteous', sans-serif;

}

/* Caixa branca (AGORA EMBAIXO) */
.name-box {
  width: 373px;
  height: 135px;

  background: #FFFFFF;
  border: 4px solid #001867;
  border-radius: 0px 180px 180px 390px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: -40px; /* 🔥 sobe e encaixa por baixo */
  margin-left: 250px; /* 🔥 ajusta pro lado direito */

  z-index: 1;
}

/* Texto nome */
.name-box h2 {
  color: #001867;
  font-size: 40px;
  margin: 0;
  font-family: 'Righteous', sans-serif;
  

}
.btn-novo {
  margin-left: auto;
  background: #0a2c7d;
  color: white;
  border: none;
  padding: 15px 25px;
  border-radius: 180px;
  cursor: pointer;
   width: 238px;
  height: 95px;
 font-size: 40px;
 margin-top: -150px;
 margin-right: 100px;
  display: flex;          
  align-items: center;    
  justify-content: center; 
  gap: 10px;    
  font-family: 'Righteous', sans-serif;

}

/* TÍTULO */
.titulo {
  font-family: 'Righteous', sans-serif;
  font-size: 32px;
  color: #0a2c7d;

  margin-top: 100px;

  padding-bottom: 8px;

  border-bottom: 4px solid #0a2c7d;

  width: 100%;
  margin-left: 100px;
}

/* CARDS */
.cards {
  display: grid; /* 🔥 melhor que flex aqui */
  gap: 25px;
width: 200px;
height: 200px;
  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: 100px;
}

/* CARD */
.card {
  border: 2px solid #0a2c7d;
  border-radius: 15px;
  padding: 20px;
  color: #00278B;
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 15px;

  transition: 0.2s;
}

/* hover bonito */
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

/* quando concluído */
.card.concluido {
  opacity: 0.6;
}

/* topo */
.card-top {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

/* texto */
.card p {
  font-size: 14px;
  line-height: 1.4;
  color: #00278B;
  font-family: 'Roboto', sans-serif;
}

/* info */
.card-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* lado esquerdo */
.info-left {
  display: flex;
  gap: 10px;
  font-size: 14px;
    flex-direction: column; /* 🔥 empilha */

}

/* botão editar */
.edit-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #0a2c7d;
}

.edit-btn:hover {
  transform: scale(1.1);
}

/* BOTÕES */
.card-buttons {
  display: flex;
  gap: 50px;
  margin-top: 15px; /* 🔥 empurra pra baixo */
}

/* botões */
.concluir {
  background: #0a2c7d;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 20px;
}

.excluir {
  border: 1px solid red;
  color: red;
  background: transparent;
  padding: 6px 12px;
  border-radius: 20px;
}
.reativar {
  background: green;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 20px;
  cursor: pointer;
}
.cancelar {
  background: red;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 20px;
  cursor: pointer;
}
.card.cancelado {
  opacity: 0.5;
}

.card.concluido {
  opacity: 0.7;
}
.info-item {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
}
.card.concluido .info-item {
  color: green;
}

.card.cancelado .info-item {
  color: red;
}