.card-login {
  width: 100%;
  max-width: 450px;
  text-align: center;
  padding: 20px;
}

.card-login h1 {
  font-size: 5rem;
  color: white;
  font-weight: 900;
  margin-bottom: 40px;
  letter-spacing: -3px;
  font-family: 'Fredoka', sans-serif;
}

.botao-entrar {
  width: 100%;
  padding: 18px;
  background-color: #002080;
  color: white;
  border: 1.5px solid white;
  border-radius: 50px;
  font-size: 1.8rem;
  font-weight: 800;
  margin-top: 30px;
  cursor: pointer;
  transition: 0.3s;
}

.botao-entrar:hover {
  background-color: white;
  color: #002080;
}